Source: pytiger
Section: python
Priority: extra
X-Python-Version: >= 2.3
X-Python3-Version: >= 3.2
Maintainer: Jonathan Wiltshire <jmw@tiger-computing.co.uk>
Uploaders: Chris Boot <crb@tiger-computing.co.uk>
Build-Depends:
 debhelper (>= 9),
 dh-python,
 python-all,
 python-coverage,
 python-mock,
 python-nose,
 python-setuptools,
 python-six,
 python-sphinx,
 python3-all,
 python3-coverage,
 python3-mock,
 python3-nose,
 python3-setuptools,
 python3-six,
Standards-Version: 3.9.6

Package: python-pytiger
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Suggests: python-pytiger-doc
Provides: ${python:Provides}
X-Python-Version: ${python:Versions}
Description: pytiger library
 This is the Tiger Computing Ltd Python Utility library, pytiger.

Package: python3-pytiger
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Suggests: python-pytiger-doc
Provides: ${python:Provides}
X-Python-Version: ${python:Versions}
Description: pytiger library (Python3 version)
 This is the Tiger Computing Ltd Python Utility library, pytiger.
 .
 This package contains the Python 3 version of the library.

Package: python-pytiger-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: documentation for pytiger
 Documentation for the Tiger Computing Ltd Python Utility
 library, pytiger.
