#!/usr/bin/make -f
#DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export PYBUILD_NAME = pytiger

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build
	PYTHONPATH=. python3 -m sphinx -N -bhtml docs/ build/html

execute_after_dh_auto_install:
	# Exclude coverage from installing
	rm -f debian/python3-pytiger/usr/lib/python3*/dist-packages/coverage.xml
	rm -f debian/python3-pytiger/usr/lib/python3*/dist-packages/.coverage

override_dh_auto_clean:
	dh_auto_clean
	rm -rf src/pytiger.egg-info
